/* start - BUTTON */
.button {
  background-color: var(--color-primary);
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  margin-top: 4px;
  padding: 8px 12px;
  width: 100%;
}

.button:hover {
  background-color: var(--color-button-hover);
  cursor: pointer;
}
/* end - BUTTON */

/* start - INPUT */
.input {
  background-color: var(--color-background-inputs);
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  margin-top: 4px;
  padding: 8px 12px;
  width: 100%;
}

.input-label {
  display: block;
}
/* end - INPUT */